<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet-mapping>
  	<servlet-name>DispatcherServlet</servlet-name>
  	<url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>DispatcherServlet</servlet-name>
  	<servlet-class>com.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>springmvc.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup><!-- 注意顺序 在最下面 懒加载 当数值大于或者等于0时 容器在启动时就加载当前servlet 如果小于0或者没有 则不加载，如果有相同的值，容器会随机加载 -->
  </servlet>
  
</web-app>
